<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Políticas Públicas</title>
    <%- include("partials/head")%>
    <link href= "/assets/css/background.css" rel="stylesheet">
</head>
<body>
    <div class="container p-4 mt-5 animated bounceInLeft">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card">
                    <div class="card-body">
                        <form action="/upload" method="POST" enctype="multipart/form-data">

                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <input type="file" name="image" class="custom-file-input" id="inputGroupFile02">
                                    <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose file</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" name="title" placeholder="Título" class="form-control">
                            </div>
    

                              <div class="form-group">
                                  <input type="text" name="description" class="form-control" placeholder="Descripción">
                              </div>

                              <div class="form-group">
                                <input type="text" name="axis" class="form-control" placeholder="Eje">
                            </div>

                            <div class="form-group">
                                <input type="text" name="status" class="form-control" placeholder="Status">
                            </div>

                            <div class="form-group">
                                <input type="text" name="presented" class="form-control" placeholder="Fecha presentación">
                            </div>

                            <div class="form-group">
                                <input type="text" name="tweets" class="form-control" placeholder="Tweets">
                            </div>

                            <div class="form-group">
                                <input type="text" name="radio" class="form-control" placeholder="Radio">
                            </div>

                            <div class="form-group">
                                <input type="text" name="tv" class="form-control" placeholder="TV">
                            </div>

                            <div class="form-group">
                                <input type="text" name="comments" class="form-control" placeholder="Comentarios">
                            </div>

                              <div class="form-group">
                                  <button type="submit" class="btn btn-success btn-block">
                                    Agregar
                                  </button>
                              </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
